spring:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
server:
  port: 8010
springdoc:
  swagger-ui:
    path: /gateway/swagger-ui.html
  api-docs:
    path: /gateway/api-docs

gateway:
  applicationLink: http://192.168.99.100:8070/application/
  offersLink: http://192.168.99.100:8070/application/offer
  calculationLink: http://192.168.99.100:8090/deal/calculate/
  dealDocumentsLink: http://192.168.99.100:8090/deal/document/
  dealSendDomain: /send
  dealSignDomain: /sign
  dealCodeDomain: /code